<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Kenyan TV Online</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="manifest" href="/static/manifest.json">
		<meta name="description" content="Kenya TV Live: Watch Kenyan TV channels live">
		<meta name="theme-color" content="#eeeeee">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
		<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/static/icons/favicon.ico">
		<meta name="apple-mobile-web-app-title" content="Kenyan Live TV">
		<meta name="application-name" content="Kenyan Live TV">
		<meta name="msapplication-config" content="/static/icons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/bulma.min.css">
		<style>
			[v-cloak] { display: none; }
			a.channel-link{ color: #eee; }
			a.channel-link:hover{color: #333 }
			body,.footer{background-color:#333}
		</style>
	</head>
	<body style="">
		<div id="app">
			<div class="navbar is-dark">
				<div class="navbar-brand">
					<div class="navbar-item">
						Watch Kenyan TV Live Online
					</div>
				</div>
			</div><!--/.navbar-->
			<div v-if="offline" v-cloak>
				<div class="hero is-large is-warning">
					<div class="container">
						<div class="hero-body">
							<h1 class="title">Offline <span class="icon"><i class="fa fa-frown-o"></i></span></h1>
							<h2 class="subtitle">You're currently offline, check your internet connection.</h2>
						</div>
					</div>
				</div>
			</div><!--/offline-->
			<div class="section" v-cloak>
				<div class="container">
					 <div class="columns" v-if="currentView==='home'">
						<div class="column is-2">
							<div class="menu" style="">
								<div class="menu-label">
									Kenyan TV
								</div>
								<ul class="menu-list">
									<li v-for="channel in channels" v-bind:channel="channel">
										<a v-on:click="changeChannel(channel)" class="channel-link">{{channel.name}}</a>
									</li>
								</ul>
								<div class="menu-label">
									International TV
								</div>
								<ul class="menu-list">
									<li v-for="channel in intlchannels" v-bind:channel="channel">
										<a v-on:click="changeChannel(channel)" class="channel-link">{{channel.name}}</a>
									</li>
								</ul>
							</div><!--/.menu-->
						</div><!--/.column-->
						<div class="column is-10">
							<div v-if="currentChannel">
								<keep-alive>
									<current-channel v-bind:channel="currentChannel"></current-channel>
								</keep-alive>
							</div>
						</div><!--/.column-->
					</div><!--/.columns-->
				</div><!--/.container-->
			</div><!--/.section-->
		</div><!--/#app-->
		<div class="footer">
			<p style="text-align:center">
				<a href="https://github.com/peteretelej/kenyan-tv">
					<span class="icon is-large has-text-white">
						<i class="fa fa-github"></i>
					</span>
				</a>
				<a href="https://twitter.com/peteretelej">
					<span class="icon is-large has-text-white">
						<i class="fa fa-twitter"></i>
					</span>
				</a>
			</p>
		</div><!--/.footer-->

		<script src="/static/js/vendor/axios.min.js"></script>
		<script src="/static/js/vendor/vue.js"></script>
		<script src="/static/js/home.js"></script>
		<script src="/static/js/main.js"></script>
		<script>
			if(navigator.serviceWorker){
				if(!navigator.serviceWorker.controller){
					navigator.serviceWorker.register("/sw.js")
				}
			}
		</script>
	</body>
</html>
